<h1>Games#score</h1>
<p>Find me in app/views/games/score.html.erb</p>


<h1>RESULTS</h1>
<% if !@in_grid %>
<% end %>

  <p>Sorry but <strong><%= @submit %> </strong> can't be built out of <%= @letters.flatten %></p>
