// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.letters {
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.letter {
  border: 2px solid black;
  background: #00baff;
  color: white;
  border-radius: 4px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

label {
  margin-top: 10px;
}

.input {
  margin: 10px 0;
  width: 200px;
  height: 30px;
}

.btn {
  // width: 200px;
  height: 34px;
}
